!!!
%html
  %body

    %Commit Badge

    %My first paragraph.
    %form{:action => "/user-badges",  :method => "post"}
      GitHub Username: 
      %input{ :type => "text", :name => "gname"}
      %br
      %input{ :type => "submit", :value => "Submit"}
